.bag-page {
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* background: #03a685; */
    padding: 0 1vw;
    /* background-color: aqua; */
    position: relative;
    padding-top: 2.5rem;
    
}

.bag-items-container {
    width: 100%;
   height: auto;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #eaeaec;
    padding-top: 32px;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: blueviolet; */
}

.bag-item-container {
    width: 40rem; 
    height: 20rem;
    margin-bottom: 8px;
    background: #fff;
    font-size: 14px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    position: relative;
    padding: 12px 0px 12px 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}

.item-left-part {
    width:15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: left;
    background: rgb(255, 242, 223);
}

.bag-item-img {
   width: 100%;
   height: 100%;
   /* background-color: steelblue; */
}

.item-right-partt {
    width: 20rem;
    height: 100%;
    /* background-color: black; */
    padding: 12px;
    position: relative;
    min-height: 200px;
    margin-left: 111px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.remove-from-cart {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 18px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.bag-summary {
    vertical-align: top;
    width:100%;
    padding: 1rem;
    padding-top: 2rem;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
    /* background-color: #282c3f; */
}

.bag-details-container {
    /* background-color: red; */
    margin-bottom: 16px;
}

.price-header {
    font-size: 12px;
    font-weight: 700;
    margin: 24px 0 16px;
    color: #535766;
}

.price-item {
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #282c3f;
}

.price-item-value {
    float: right;
}

.priceDetail-base-discount {
    color: #03a685;
}

.price-footer {
    font-weight: 700;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
}

.btn-place-order {
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border-width: 0px;
    padding: 10px 16px;
    background-color: rgb(255, 63, 108);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.return-period {
    display: inline-flex;
    font-size: 14px;
    padding-top: 8px;
}

.return-period-days {
    font-weight: 700;
    margin-right: 4px;
}

.delivery-details {
    margin-top: 5px;
    color: #282c3f;
    font-size: 12px;
    letter-spacing: -.1px;
    margin-bottom: 8px;
    line-height: 15px;
}

.delivery-details-days {
    color: #03a685;
}

.company {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price-container .current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.price-container .original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.price-container .discount-percentage {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

@media (max-width:600px) {
    .bag-item-container {
            width: 40rem;
            height: 15rem;
        }
    .item-left-part {
            width: 11rem;
            height: 11rem;
        }
}