#cursor {
    z-index: 9;
}

#page1 {
    min-height: 70vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;

}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: Futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    display: none;
}

#shopp {
    padding: 2rem 0rem;
    line-height: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;

}

@media (max-width:600px) {
    #page1 {
        min-height: 60vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 20vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }
}

.items-container {
    width: 90%;
    margin: 2rem 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-container {
    width: 40%;
    height: 37rem;
    margin: 10px 0px;
    /* background-color: red; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.item-image {
    height: 26rem;
    width: 80%;
}

.rating {
    font-size: 12px;
    font-weight: 700;
}

.company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}

.current-prize {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.original-prize {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}


.bag-item-count {
    white-space: nowrap;
    text-align: center;
    position: relative;
    font-size: 1rem;
    color: black;
    left: -28px;
    top: -12px;
    font-weight: 600;
    cursor: pointer;
    visibility: hidden;
    visibility: visible;
}

@media (max-width:1000px) {
    .item-container {
        width: 40%;
        height: 28rem;
    }

    .item-image {
        height: 18rem;
        width: 100%;
    }

}

@media (max-width:750px) {
    .item-container {
        width: 45%;
        height: 22rem;
    }

    .item-image {
        height: 11rem;
        width: 100%;
    }

    .item-name {
        font-size: 12px;
    }

    .original-prize {
        margin-left: 1px;
    }
}


#toastBox {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    color: black;
}

.toast {
    width: 300px;
    height: 60px;
    background-color: #fff;
    font-weight: 500;
    margin: 15px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    padding: 0rem 1rem;
    /* transform: translateX(100%); */
    animation: moveleft 0.5s linear forwards;
    z-index: 100;
    border-radius: 2rem;
    /* background-color: black; */
    background-color: lightgreen;
    /* color: white; */
    color: black;
}

@keyframes moveleft {
    100% {
        transform: translateX(0%);
    }
}

.toast::after {
    content: '';
    position: absolute;
    left: 25px;
    bottom: 1px;
    width: 85%;
    height: 5px;
    /* background-color: green; */
    /* background-color: grey; */
    background-color: white;
    animation: anim 5s linear forwards;
    border-radius: 2rem;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

@media (max-width:500px) {
    .toast {
        width: 200px;
        height: 40px;
        font-weight: 400;
        margin: 5px 0px;
        font-size: 0.8rem;
        padding: 0rem 0.8rem;
    }

    .toast::after {
        content: '';
        position: absolute;
        left: 17px;
        width: 85%;
        height: 3px;
    }
}